@using SimpleWAWS.Resources
@using System.Globalization
<section class="wa-section wa-section-mini" ng-if="branding !== 'azureplatform' && branding !== 'aspnet' && branding !== 'azurecon'" ng-class="branding === 'mkt-b15.22' ? 'wa-section-mkt-b15' : 'wa-section-blue wa-section-compute'">
    <div class="wa-content">
        <h1>@Client.Action_CreateAppServiceApp</h1>
        <div class="wa-spacer">
            <h5 style="padding-top: 35px">@Client.Information_GenericBrandingLine1</h5>
            <h5>@Client.Information_GenericBrandingLine2</h5>
        </div>
        <div class="wa-spacer  wa-spacer-aside wa-spacer-asideLight">
            <video width="440" controls poster="/Content/poster2.png" preload="none">
                <source src="/Content/AppService.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>
<section class="wa-section wa-section-blueDark" ng-if="branding === 'aspnet'">
    <div class="wa-content">
        <h1>@Client.Information_AspNetBrandingLine1</h1>
        <h3>@Client.Information_AspNetBrandingLine2</h3>
    </div>
</section>

<section class="wa-section wa-section-blueDark" ng-if="branding === 'azurecon'">
    <span style="position: absolute; margin-top: -40px; right: 100px">
        <img src="~/Content/images/xamarin-appservice.png" />
    </span>
    <div class="wa-content">
        <h1>Go Mobile with Xamarin and Azure App Service</h1>
        <h3>Auth, Sync, and Push in seconds for any device. Start for free and scale as your app grows.</h3>
    </div>
</section>

<section class="wa-section wa-section-mini wa-section-blue wa-section-compute background-what-is-azure" style="height: 200px;" ng-if="branding === 'azureplatform'">
    <div class="wa-content" style="padding: 0;text-align: left;position: relative;top: 50%;transform: translateY(-50%);">
        <h1>@Client.Information_AzurePlatformBrandingLine1</h1>
        <h5>@Client.Information_AzurePlatformBrandingLine2</h5>
    </div>
</section>

<div class="wa-content wa-content-4up wa-content-divided">
    <div id="status-buttons" class="text-center wa-content">
        <a ng-repeat="step in currentAppService.steps" ui-sref-active-eq="active" ui-sref="{{ step.sref }}"><span>{{ step.id }}</span> {{ step.title }}</a>
    </div>

    <div class="wa-content wa-content-4up wa-content-divided" ui-view></div>

    <div ng-if="currentStep.id === 1" class="wa-content wa-content-4up" style="margin-top: 0px">
        <h2>@Client.Action_SelectAppType</h2>
        <br />
        <br />

        <div id="appservices-div">
            <div ng-repeat="appService in appServices" class="appservice-container box-container" ng-class="currentAppService.name === appService.name ? 'box-container-selected' : ''">
                <a class="select-appservice-anchor" href="#" ng-click="selectAppService(appService)" ng-mouseover="onAppServiceMouseOver(appService)" ng-mouseleave="onAppServiceMouseLeave()">
                    <div class="app-service" ng-class="appService.sprite"></div>
                    <div class="appservice-name">{{ appService.title }}</div>
                </a>
            </div>
        </div>
        <div style="margin-top: 30px; height: 50px; text-overflow: ellipsis; margin-bottom: 20px">
            <h5 ng-bind="ngModels.hoverAppService ? ngModels.hoverAppService.description : currentAppService.description"></h5>
        </div>
    </div>

    <div class="wa-content wa-content-4up wa-content-divided" style="margin-bottom: 20px">

        <div style="display: inline; float: left; position: relative">
            <a ng-if="previousStep" href="#" class="wa-button" ng-click="goToPreviousState()" ng-class="currentStep.previousClass ? currentStep.previousClass : 'wa-button-gray'">{{ currentStep.previousText ? currentStep.previousText : '@Client.Previous' }}</a>
            <div id="confirm-box" class="confirm-box" ng-show="confirmDelete">
                <div class="confirm-content">
                    <div class="confirm-message">@Client.Information_GoingBackWillDeleteApp</div>
                    <a id="yes-delete-confirm" href="#" class="wa-button wa-button-red confirm-answer" ng-click="deleteResource()">
                        @Client.Action_Delete
                    </a>
                    <a href="#" class="wa-button wa-button-gray confirm-answer" ng-click="confirmDelete = false;">
                        @Client.Action_Cancel
                    </a>
                </div>
            </div>
            <a ng-if="nextStep" href="#" class="wa-button" ng-click="goToNextState()" ng-class="currentStep.nextClass ? currentStep.nextClass : 'wa-button-alt'">{{ currentStep.nextText ? currentStep.nextText : '@Client.Next' }}</a>
            <a ng-if="!nextStep" ng-href="https://azure.microsoft.com/@CultureInfo.CurrentCulture.Name/free/?WT.mc_id={{ freeTrialBottomCachedQuery }}" target="_blank" ng-click="freeTrialClick('last-step')" class="wa-button wa-button-primary">@Client.FreeTrial</a>
            <div class="login-box" ng-show="loginOptions" ng-class="currentCulture == 'ru' ? 'login-box-ru' : ''">
                <div style="display: block; margin-left: 30px">
                    <div class="wa-heading5" style="position: relative; margin-right: 8px">@Client.Information_LoginFirst</div>
                    <div class="login-option"><a href="#" ng-click="handleLoginClick('aad')" class="create-site-action wa-button microsoft-login">Microsoft Account</a></div>
                    <div class="login-option"><a class="create-site-action" ng-click="handleLoginClick('google')" href="#"><div class="google-login sprite-google"></div></a></div>
                    <div class="login-option"><a class="create-site-action" ng-click="handleLoginClick('facebook')" href="#"><div class="facebook-login"></div></a></div>
                    <div ng-if="currentCulture == 'ru'" class="login-option"><a class="create-site-action" ng-click="handleLoginClick('vk')" href="#"><div class="vk-login"></div></a></div>
                </div>
            </div>
            <div id="confirm-box" class="confirm-box" ng-show="offerDeleteAndCreate" style="left: 274px; top: -45px">
                <div class="confirm-content">
                    <div class="confirm-message">@Client.Information_AppAlreadyExists</div>
                    <a id="yes-delete-confirm" href="#" class="wa-button wa-button-red confirm-answer" ng-click="deleteAndCreateResource()">
                        @Client.Action_Delete
                    </a>
                    <a href="#" class="wa-button wa-button-gray confirm-answer" ng-click="initExistingState()">
                        @Client.Action_GoToExistingApp
                    </a>
                </div>
            </div>
        </div>


        <div class="spinner">
            <i ng-if="running" class="fa fa-spinner fa-spin" title="Please wait" style="margin-top: 10px"></i>
        </div>

        <div class="error-place">
            <div class="error-message" ng-show="ngModels.errorMessage">
                <i class="fa fa-warning" title="{{ ngModels.errorMessage }}"></i>
                <span class="error-message-text" ng-bind="ngModels.errorMessage"></span>
            </div>
        </div>
        <div class="error-place">
            <div class="error-message" ng-show="ngModels.statusMessage">
                <span class="error-message-text" ng-bind="ngModels.statusMessage"></span>
            </div>
        </div>
    </div>

    <div class="ui-blocker" ng-if="running"></div>
</div>

<div id="login-dark-blocker" class="dark-full-site-blocker" ng-show="loginOptions || confirmDelete || offerDeleteAndCreate || showFullBlackBlocker" ng-click="loginOptions = false; confirmDelete = false; offerDeleteAndCreate = false;"></div>



<div id="site-expired" ng-if="siteExpired">
    <div class="full-site-blocker"></div>
    <div class="site-expired-notification-blade">
        <div class="site-expired-notification">
            <h2 style="color: white; margin-bottom: 90px">@string.Format(Client.Information_AppHasExpired, "{{ currentAppService.title }}")</h2>
            <a id="dismiss-site-expire" href="#" class="wa-button wa-button-slate" ng-click="dismissSiteExpired()">@Client.Action_Dismiss</a>
            <a ng-href="https://azure.microsoft.com/@CultureInfo.CurrentCulture.Name/free/?WT.mc_id={{ freeTrialExpireCachedQuery }}" id="free-trial-dismiss" target="_blank" ng-click="freeTrialClick('expired-banner')" class="wa-button wa-button-primary">@Client.FreeTrial</a>
        </div>
    </div>
</div>
