@model SimpleWAWS.Code.Site

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your site: <a href="@Model.Url" target="_blank">@Model.Name</a></h1>
    <p class="lead">Your temporary site is ready to use. Time before site auto-deletion: @Model.TimeLeftString</p>

    <p><a href="@Model.Url" class="btn btn-success btn-large" target="_blank">Run it</a></p>
    <p><a href="@Model.MonacoUrl" class="btn btn-primary btn-large" target="_blank">Edit it in Visual Studio Online</a></p>
    <p><a href="@Model.KuduConsoleWithCreds" class="btn btn-primary btn-large" target="_blank">Launch the Kudu dev tools</a></p>
    <p><a href="@Model.ContentDownloadUrl" class="btn btn-primary btn-large">Download content</a></p>
    @using (Html.BeginForm("DeleteSite", "Home", FormMethod.Post))
    {
        <p><input type="submit" name="submit" value="Delete it" class="btn btn-danger btn-large" /></p>
    }

    <hr />
    <p>git URL: <input type="text" class="input-lg" readonly="readonly" onclick="this.select();" value="@Model.GitUrlWithCreds"></p>

</div>
